*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;  
      
}
a{
    text-decoration-line:none;
    color: #666;
}
body{
    background: #ecedf2;
}
.wrapper{
 width: 1140px;
 margin: 0 auto;
}
.header{
    display: flex;
    background: #fff;
    margin-top: 20px;
    transform: rotate(10deg);

}
.header .menu{
    background: #5488d5;
    color: #fff;
    font-size: 16px;
    border-radius: 10px 0 0 10px;
}
.header .menu p {
    text-align: center;
    width: 80px;
    height: 50px;
    line-height: 50px;
}
.types{
    flex: 1;
}
.types .type-list{
 height: 50px;
 line-height: 50px;
}
.types .type-radio{
    display: inline-block; 
    margin-left: 30px;
    position: relative;
    padding-left: 32px;
    color: #666;
    font-size: 14px;
}
.type-radio::before{
   content:"";
   width: 22px;
   height: 22px;
   border: 1px solid #ccc;
   border-radius: 50%;
   position: absolute;
   left:  0;
   top: 50%;
   transform: translateY(-50%);
}
.type-radio::after{
    content:"";
    width: 14px;
    height: 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left:  4px;
    top: 50%;
    background: #5f89cf;
    transform: translateY(-50%) scale(0);
    transition: 0.2s;
}
.type-radio.cutSelect::after{
    transform: translateY(-50%)  scale(1);
}
.search-input{
   width: 300px;    
   height: 40px;
   margin-top: 50px;
   border: 1px solid #ccc;
   margin-right:40px;
   border-radius: 10px;
   padding-right: 40px;
   position: relative;
   display: grid;
}
.search-input::after{
  content: "";
  display: block;
  height: 20px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("./王者荣耀官网英雄查询-素材//search_icon.png") no-repeat center;
  border-left: 1px solid #ccc;
}
.search-input input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    text-indent: 1em;
}
.heros {
    margin-top: 30px;   
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(10,1fr);
    row-gap: 20px;
    text-align: center;
    color: red; 
    
}

.heros img{
    display: block;
    width: 77px;
    height: 77px;
    border: 2px solid #5f89cf;
    border-radius: 10px 0 10px 0
}